# Project exclude paths
/venv/
/security.ini
/build/
/dist/
/resources/
/html/
/sanic_security_test.egg-info/
/sanic_security.egg-info/
.idea
/requirements.txt
/sanic.crt
/sanic.key
/sanic_security/lib/tortoise.py
